<?xml version="1.0" ?>
<config>
	<modules>
		<Location_State>
			<version>1.3.3</version>
		</Location_State>
	</modules>
	<frontend>
		<routers>
			<state>
				<use>standard</use>
				<args>
					<module>Location_State</module>
					<frontName>locationstate</frontName>
				</args>
			</state>
		</routers>
		<layout>
			<updates>
				<state>
					<file>locationstate.xml</file>
				</state>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<state>
				<class>Location_State_Model</class>
				<resourceModel>state_resource</resourceModel>
			</state>
			<state_resource>
				<class>Location_State_Model_Resource</class>
				<entities>
					<location>
						<table>state_location</table>
					</location>
				</entities>
			</state_resource>
		</models>
		<resources>
			<state_setup>
				<setup>
					<module>Location_State</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</state_setup>
			<state_read>
				<connection>
					<use>core_read</use>
				</connection>
			</state_read>
			<state_write>
				<connection>
					<use>core_write</use>
				</connection>
			</state_write>
		</resources>
		<blocks>
			<state>
				<class>Location_State_Block</class>
			</state>
		</blocks>
		<helpers>
			<state>
				<class>Location_State_Helper</class>
			</state>
		</helpers>
	</global>
	<admin>
		<routers>
			<state>
				<use>admin</use>
				<args>
					<module>Location_State</module>
					<frontName>state</frontName>
				</args>
			</state>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<state>
					<file>locationstate.xml</file>
				</state>
			</updates>
		</layout>
	</adminhtml>
</config>