<?xml version="1.0"?>
<config>
    <modules>
        <Softwebwork_Headerimage>
            <version>0.1.0</version>
        </Softwebwork_Headerimage>
    </modules>
	<frontend>
        <routers>
            <softwebwork_headerimage>
                <use>standard</use>
                <args>
                    <module>Softwebwork_Headerimage</module>
                    <frontName>headerimage</frontName>
                </args>
            </softwebwork_headerimage>
        </routers>
        <layout>
            <updates>
                <softwebwork_headerimage>
                    <file>headerimage.xml</file>
                </softwebwork_headerimage>
            </updates>
        </layout>
    </frontend>
	<global>
		<helpers>
			<softwebwork_headerimage>
				<class>Softwebwork_Headerimage_Helper</class>
			</softwebwork_headerimage>
		</helpers>
		<models>
            <softwebwork_headerimage>
                <class>Softwebwork_Headerimage_Model</class>
                <resourceModel>softwebwork_headerimage_mysql4</resourceModel>
            </softwebwork_headerimage>
            <softwebwork_headerimage_mysql4>
                <class>Softwebwork_Headerimage_Model_Mysql4</class>
                <entities>
                    <headerimage>
                        <table>headerimage</table>
                    </headerimage>
			    </entities>
            </softwebwork_headerimage_mysql4>
		</models>
		<blocks>
            <softwebwork_headerimage>
                <!-- Set a block definition and lookup directory -->
                <class>Softwebwork_Headerimage_Block</class>
            </softwebwork_headerimage>
        </blocks>
		<resources>
            <softwebwork_headerimage_setup>
                <setup>
                    <module>Softwebwork_Headerimage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </softwebwork_headerimage_setup>
           
            <softwebwork_headerimage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </softwebwork_headerimage_write>
            <softwebwork_headerimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </softwebwork_headerimage_read>
        </resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Softwebwork_Headerimage before="Mage_Adminhtml">Softwebwork_Headerimage_Adminhtml</Softwebwork_Headerimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <softwebwork_headerimage>
                    <file>headerimage.xml</file>
                </softwebwork_headerimage>
            </updates>
        </layout>
    </adminhtml>
</config>