<?xml version="1.0" ?>
<config>
    <modules>
        <Location_Store>
            <version>1.0.6</version>
        </Location_Store>
    </modules>
    
    <global>
        <helpers>
            <store>
                <class>Location_Store_Helper</class>
            </store>
        </helpers>
        <blocks>
            <store>
                <class>Location_Store_Block</class>
            </store>
        </blocks>
        <models>
            <store>
                <class>Location_Store_Model</class>
                <resourceModel>location_store_resource</resourceModel>
            </store>
            <location_store_resource>
                <class>Location_Store_Model_Resource</class>
                <entities>
                    <location_store>
                        <table>store_info</table>
                    </location_store>
                </entities>
            </location_store_resource>
        </models>
        <resources>
            <location_store_setup>
                <setup>
                    <module>Location_Store</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </location_store_setup>
            <location_store_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </location_store_read>
            <location_store_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </location_store_write>
        </resources>
    </global>
    <admin>
        <routers>
            <store>
                <use>admin</use>
                <args>
                    <module>Location_Store</module>
                    <frontName>store</frontName>
                </args>
            </store>
        </routers>
    </admin>
</config>