<?xml version="1.0"?>
<config>
    <modules>
        <Location_Adaptivepayments>
            <version>0.1.0</version>
        </Location_Adaptivepayments>
    </modules>
    <frontend>
        <routers>
            <adaptivepayments>
                <use>standard</use>
                <args>
                    <module>Location_Adaptivepayments</module>
                    <frontName>adaptivepayments</frontName>
                </args>
            </adaptivepayments>
        </routers>
        <layout>
            <updates>
                <adaptivepayments>
                    <file>adaptivepayments.xml</file>
                </adaptivepayments>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adaptivepayments after="Mage_Adminhtml">Location_Adaptivepayments_Adminhtml</adaptivepayments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <state>
                <children>
                    <adaptivepayments module="adaptivepayments">
                        <title>Payments Request Log</title>
                        <sort_order>200</sort_order>
                        <action>adminhtml/adaptivepayments</action>
                    </adaptivepayments>
                </children>
            </state>
        </menu>
        <acl>    
            <resources>
                <admin>
                    <children>
                        <location>
                            <children>
                                <state>
                                    <children>
                                        <adaptivepayments module="adaptivepayments">
                                            <title>Payments Request Log</title>
                                            <sort_order>200</sort_order>
                                        </adaptivepayments>
                                        
                                    </children>
                                </state>
                            </children>
                        </location>
                        <system>
                                 <children>
                                        <config>
                                            <children>
                                                    <adaptivepayments>
                                                        <title>Adaptive Payments Settings</title>
                                                        <sort_order>140</sort_order>
                                                    </adaptivepayments>
                                             </children>
                                        </config>
                                  </children>
                         </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <adaptivepayments>
                    <file>adaptivepayments.xml</file>
                </adaptivepayments>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <adaptivepayments>
                <class>Location_Adaptivepayments_Model</class>
                <resourceModel>adaptivepayments_resource</resourceModel>
            </adaptivepayments>
            <adaptivepayments_resource>
                <class>Location_Adaptivepayments_Model_Resource</class>
                <entities>
                    <adaptivepayments>
                        <table>location_adaptivepayments</table>
                    </adaptivepayments>
                    <log>
                        <table>location_adaptivepayments_log</table>
                    </log>
                </entities>
            </adaptivepayments_resource>
        </models>
        <resources>
            <location_adaptivepayments_setup>
                <setup>
                    <module>Location_Adaptivepayments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </location_adaptivepayments_setup>
            <adaptivepayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adaptivepayments_write>
            <adaptivepayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adaptivepayments_read>
        </resources>
        <blocks>
            <adaptivepayments>
                <class>Location_Adaptivepayments_Block</class>
            </adaptivepayments>
        </blocks>
        <helpers>
            <adaptivepayments>
                <class>Location_Adaptivepayments_Helper</class>
            </adaptivepayments>
        </helpers>

        <template>
            <email>
                <adaptivepayments_cheque_mail_template
                    translate="label" module="adaptivepayments">
                    <label>Adaptivepayments By Cheque Email</label>
                    <file>adaptivepayments_cheque.html</file>
                    <type>html</type>
                </adaptivepayments_cheque_mail_template>
            </email>
        </template>
    </global>
    <default>
        <adaptivepayments>
            <cheque>
                <mail_template>adaptivepayments_cheque_mail_template</mail_template>
                <sender>general</sender>
                <recipient>general</recipient>
            </cheque>
        </adaptivepayments>
    </default>
</config>