<?xml version="1.0"?>
<config>
	<modules>
		<Location_City>
			<version>1.3.2</version>
		</Location_City>
	</modules>
	<frontend>
		<routers>
			<city>
				<use>standard</use>
				<args>
					<module>Location_City</module>
					<frontName>locationcity</frontName>
				</args>
			</city>
		</routers>
		<layout>
			<updates>
				<city>
					<file>locationcity.xml</file>
				</city>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<city>
				<class>Location_City_Model</class>
				<resourceModel>city_resource</resourceModel>
			</city>
			<city_resource>
				<class>Location_City_Model_Resource</class>
				<entities>
					<location>
						<table>city_location</table>
					</location>
				</entities>
			</city_resource>
		</models>
		<resources>
			<city_setup>
				<setup>
					<module>Location_City</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</city_setup>
			<city_read>
				<connection>
					<use>core_read</use>
				</connection>
			</city_read>
			<city_write>
				<connection>
					<use>core_write</use>
				</connection>
			</city_write>
		</resources>
		<blocks>
			<city>
				<class>Location_City_Block</class>
			</city>
		</blocks>
		<helpers>
			<city>
				<class>Location_City_Helper</class>
			</city>
		</helpers>
	</global>
	<admin>
		<routers>
			<city>
				<use>admin</use>
				<args>
					<module>Location_City</module>
					<frontName>city</frontName>
				</args>
			</city>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<city>
					<file>locationcity.xml</file>
				</city>
			</updates>
		</layout>
	</adminhtml>
</config>