<?xml version="1.0" ?>
<config>
    <modules>
        <Location_Merchant>
            <version>1.0.2</version>
        </Location_Merchant>
    </modules>
    <frontend>
        <routers>
            <merchant>
                <use>standard</use>
                <args>
                    <module>Location_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </merchant>
        </routers>
        <layout>
            <updates>
                <merchant>
                    <file>merchant.xml</file>
                </merchant>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <merchant>
                <class>Location_Merchant_Model</class>
            </merchant>
        </models>
        <helpers>
            <merchant>
                <class>Location_Merchant_Helper</class>
            </merchant>
        </helpers>
        <blocks>
            <merchant>
                <class>Location_Merchant_Block</class>
            </merchant>
        </blocks>
    </global>
    <admin>
        <routers>
            <merchant>
                <use>admin</use>
                <args>
                    <module>Location_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </merchant>
        </routers>
    </admin>
</config>