<?xml version="1.0" ?>
<config>
    <modules>
        <Location_Merchant>
            <version>1.0.4</version>
        </Location_Merchant>
    </modules>
    <frontend>
        <routers>
            <merchant>
                <use>standard</use>
                <args>
                    <module>Location_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </merchant>
        </routers>
        <layout>
            <updates>
                <merchant>
                    <file>merchant.xml</file>
                </merchant>
            </updates>
        </layout>

    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <total_num_of_credits>
                    <to_order_item>*</to_order_item>
                </total_num_of_credits>
                <merchant_store>
                    <to_order_item>*</to_order_item>
                </merchant_store>
                <merchant_id>
                    <to_order_item>*</to_order_item>
                </merchant_id>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <total_num_of_credits>
                    <to_quote_item>*</to_quote_item>
                </total_num_of_credits>
                <merchant_store>
                    <to_quote_item>*</to_quote_item>
                </merchant_store>
                <merchant_id>
                    <to_quote_item>*</to_quote_item>
                </merchant_id>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_item_save_before>
                <observers>
                    <total_number_credits_update>
                        <class>merchant/observer</class>
                        <method>salesQuoteItemSetTotalCredits</method>
                    </total_number_credits_update>
                </observers>
            </sales_quote_item_save_before>
            <sales_order_place_after>
                <observers>
                    <cutomer_merchant_credits_update>
                        <class>merchant/observer</class>
                        <method>salesOrderSetMerchantCredits</method>
                    </cutomer_merchant_credits_update>
                </observers>
            </sales_order_place_after>
            <sales_order_item_cancel>
                <observers>
                    <cutomer_merchant_credits_update_order_cancle>
                        <class>merchant/observer</class>
                        <method>cancelOrderItem</method>
                    </cutomer_merchant_credits_update_order_cancle>
                </observers>
            </sales_order_item_cancel>
            <sales_order_invoice_save_before>
                <observers>
                    <adding_product_merchant_store_invoice>
                        <type>singleton</type>
                        <class>merchant/observer</class>
                        <method>saveProductMerchantStoreInInvoice</method>
                    </adding_product_merchant_store_invoice>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_shipment_save_before>
                <observers>
                    <adding_product_merchant_store_shipment>
                        <type>singleton</type>
                        <class>merchant/observer</class>
                        <method>saveProductMerchantStoreInShipment</method>
                    </adding_product_merchant_store_shipment>
                </observers>
            </sales_order_shipment_save_before>
            <controller_action_layout_load_before>
                <observers>
                    <merchant_is_logged_in_observer>
                        <class>merchant/observer</class>
                        <method>beforeLoadLayout</method>
                    </merchant_is_logged_in_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>

        <models>
            <merchant>
                <class>Location_Merchant_Model</class>
                <resourceModel>location_merchant_resource</resourceModel>
            </merchant>
            <customer>
                <rewrite>
                    <observer>Location_Merchant_Model_Observer</observer>
                </rewrite>
				<rewrite>
                  <customer>Location_Merchant_Model_Customer</customer>
				</rewrite>
            </customer>
            <location_merchant_resource>
                <class>Location_Merchant_Model_Resource</class>
                <entities>
                    <credit_history>
                        <table>merchant_credit_history</table>
                    </credit_history>
                </entities>
            </location_merchant_resource>
        </models>
        <resources>
            <location_merchant_setup>
                <setup>
                    <module>Location_Merchant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </location_merchant_setup>
            <location_merchant_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </location_merchant_read>
            <location_merchant_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </location_merchant_write>
        </resources>
        <helpers>
            <merchant>
                <class>Location_Merchant_Helper</class>
            </merchant>
        </helpers>
        <blocks>
            <merchant>
                <class>Location_Merchant_Block</class>
            </merchant>
        </blocks>
		 <template>
            <email>
                <merchant_password_forgot_email_template translate="label" module="merchant">
                    <label>Forgot Password</label>
                    <file>account_merchant_password_reset_confirmation.html</file>
                    <type>html</type>
                </merchant_password_forgot_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <merchant>
                <use>admin</use>
                <args>
                    <module>Location_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </merchant>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <merchant>
                    <file>merchant.xml</file>
                </merchant>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <customshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>merchant/carrier</model>
                <name>Total Shipping Charges</name>
                <title>Total Shipping Charges</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <include_free_ship_items>0</include_free_ship_items>
            </customshipping>
        </carriers>
		<merchant>
			<password>
                <forgot_email_identity>support</forgot_email_identity>
                <forgot_email_template>merchant_password_forgot_email_template</forgot_email_template>
                <reset_link_expiration_period>1</reset_link_expiration_period>
                <require_admin_user_to_change_user_password>1</require_admin_user_to_change_user_password>
            </password>
		</merchant>
    </default>
</config>